:root {
  /* Fonts */
  --font-family-base: Arial, sans-serif;

  /* Website Colors */
  --color-primary: #376ad1;
  --color-secondary: #1800ad;
  --color-gray: #eaeaea;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
